@media screen and (max-width: 700px){

    .navbar{
        flex-direction: column;
    }
    .left{
        flex-direction: column;
        align-items: center;
    }
    .right{
        justify-content: center;
        padding-right: 0vw;
    }
    .con-left h2 {
        font-family: 'Padauk', sans-serif;
        font-size: 1.5rem;
    }
    .con-left p {
        
        font-size: 1rem;
    }
    .con-right {
        display: none;
    }

    .article{
        overflow: hidden;
        padding-bottom: 10vw;
    }
    .article h2{
        font-size: 5vw;
    }

    /* Box1 */
    .box{
        display: flex;
        height: 12rem;
        padding: 1vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8vw;
    }

    .box img {
        width: 11rem;
    }

    .boxtext{
        align-items: center;
    }
    .boxtext p{
        font-size: 2.5vw;
    }

    .boxtext h3{
        padding-top: 4px;
        margin-top: 4px;
        font-size: 4vw;
    }



    /* Contact Page Edit */
    .formbox h2 {
        font-size: 1.5rem;
        /* margin-left: -3vw; */
    }
    .forminput p {
        font-size: 1rem;
    }
    .forminput input{
        font-size: 1rem;
        width: 18rem;
    }
    .quillInput{
        width: 18rem;
        font-size: 1rem;
        font-family: 'Padauk', sans-serif;
        border: 1px solid #ff9b22;
        /* padding-left: 0.5vw; */
        border-radius: 5px;
        background-color: white;
      }
    .btn2{
        width: 8rem;
        margin-top: 1rem;
    }

    .formbox{
        align-items: center;
        background-color: antiquewhite;
        height: 80vh;
    }

    /* Article1 Edit */

   
    .center h2 {
        margin-top: 3vw;
        font-size: 5vw;
    }
    .center img {
        width: 60vw;
        margin-top: 3vw;
    }

    .article-content p{
        font-size: 0.7rem;
    }

    .article-content h4{
        font-size: 3.8vw;
    }

    .article-content ul li{
        font-size: 0.7rem;
    }

    .article1 .center h2{
        margin-top: 3vw;
        font-size: 1rem;
    } 

    .foot{
        height: 2rem;
    }
    .foot p, .foot span{
        font-size: .65rem;
    }

    .shim-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 1rem; */
    }
    .shim-img{
        width: 10rem;
        height: 15rem;
        margin-top: 2rem;
        margin-left: 0;
    }

    .line{
        width: 10rem;
        margin-left: 0;
    }
}

